img{
    width: 7rem;
    margin-left: 3rem;
    margin-top: 3rem;
}
body{
    background: url(./bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.container{
    display: flex;
    flex-direction: column;
    width:18rem;
    position: absolute;
    top: 7rem;
    left: 38%;
}

input{
    width:17rem;
    padding-left: 0.6rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    outline: none;
}

.fname{
    margin-top: 0;
}

.label{
    align-self: baseline;
    margin-top: 1rem;
    color: brown;
}

.log{
    align-self: baseline;
    margin-top: 2.5rem;
    font-size: 7rem;
    color: brown;
    position: absolute;
    left: 28.5%;
}


.btn{
    width: 7rem;
    background-color: blue;
    color: white;
    border: none;
    height: 1.5rem;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
    cursor: pointer;
}

.message{
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
